body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.container table {
    width: 600px;
    margin: auto;
    background-color: #dfdfdf;
    border-collapse: collapse;
    border: 3px solid #dddddd;
    border-radius: 8px;
    overflow: hidden;
}

.container th, .container td {
    padding: 15px;
    text-align: left;
}

.container th {
    background-color: #8299aa;
    color: #ffffff;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container .button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #c2805b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(103, 113, 114);
}
