<!DOCTYPE html>
<html>
    <head>
        <title>About (admin)</title>
        <link rel="stylesheet" href="../../assets/CSS/Common/style.css" />
        <link
            rel="stylesheet"
            href="../../assets/CSS/dashboard/dashboardApplicant.css"
        />
    </head>

    <body>
        <header class="header" id="header"></header>

        <main>
            <center>
                <h1>About Us</h1>
                <p id="about"></p>
                <div id="adminContainer"></div>
            </center>
        </main>
        <footer
            style="
                width: 100%;
                height: 200px;
                background: #f0f0f0;
                margin-top: 50px;
            "
        >
            <hr />
        </footer>

        <script type="module" src="../../assets/JS/AboutPage/about.js"></script>
        <script
            src="../../assets/JS/Header/generateHeader.js"
            type="module"
        ></script>
    </body>
</html>
