body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c35;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 20px;
}

h1 {
    color: #61dafb;
    text-align: center;
}

.event {
    border: 1px solid #444;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

h2 {
    color: #61dafb;
}

p {
    margin: 0;
    color: #ccc;
}

form {
    display: inline-block;
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #61dafb;
}

button {
    background-color: #61dafb;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover,
input[type="submit"]:hover {
    background-color: #3f8ebc;
}

.create-event-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}
