body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #282c35;
    color: #fff;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #61dafb;
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    color: #61dafb;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
}

input[type="button"] {
    background-color: #61dafb;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #3f8ebc;
}

a {
    text-decoration: none;
    color: #61dafb;
}

a:hover {
    text-decoration: underline;
}

h4 {
    text-align: center;
    margin-top: 20px;
}
