body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.container {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

table {
    width: 100%;
    background-color: #dfdfdf;
    border-collapse: collapse;
    border: 3px solid #dddddd;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #8299aa;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
}


