* {
    margin: 0px;
    padding: 0px;
}
#container {
    display: flex;
    color: #433f3f;
    flex-direction: column;
    min-height: 100vh;
}
#container header {
    background-color: #b5c8c2;
    display: flex;
    padding: 30px;
}

#container img {
    width: 50px;
    height: 50px;
}

#container h1 {
   margin-left: 38%;
}

#container span {
    padding-top: 15px;
    margin-left: 34%;
}
main {
    color: #fff;
    padding: 16px;
    background-color: #2E313F;
    flex : 5
}

footer {
    flex : .2;
    background-color:#b5c8c2;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}

#Policy-input {
    width: 100%;
    height: 300px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#save-button {
    width: 80px;
    height: 30px;
    cursor: pointer;
    background-color: #66CCCC;
}

#save-button:hover {
    color: #fff;
    background-color: #105050;
}

#name-link {
    color: aqua;
}