body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

table {
    width: 600px;
    margin: auto;
    background-color: #dfdfdf;
    border-collapse: collapse;
    border: 3px solid #dddddd;
    border-radius: 8px;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #8299aa;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-field,
.select-field {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #c2805b;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: rgb(103, 113, 114);
}

.error-message {
    color: red;
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-field {
    width: calc(100% - 10px); /* Adjust the width as needed */
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}