<!DOCTYPE html>
<html>
    <head>
        <title>FAQ</title>
        <link
            rel="stylesheet"
            href="../../assets/CSS/dashboard/dashboardApplicant.css"
        />
    </head>

    <body>
        <header class="header" id="header"></header>
        <main>
            <center>
                <h2>FAQ</h2>
                <div id="container"></div>
                <form id="admin-container"></form>
            </center>
        </main>
        <script src="../../assets/JS/FAQ/faq.js" type="module"></script>
        <script
            src="../../assets/JS/Header/generateHeader.js"
            type="module"
        ></script>
    </body>
</html>
