<!DOCTYPE html>
<html>
    <head>
        <title>All Jobs</title>
        <link rel="stylesheet" href="../../assets/CSS/Common/style.css" />
    </head>
    <body>
        <div class="filter" id="filter"></div>
        <main id="container" class="container"></main>
        <script
            src="../../assets/JS/BrowseJobs/browseAllJobs.js"
            type="module"
        ></script>
        <script
            src="../../assets/JS/FilterJobs/filterJobs.js"
            type="module"
        ></script>
    </body>
</html>
