<!DOCTYPE html>
<html>
    <head>
        <title>Job Detail</title>
        <link
            rel="stylesheet"
            href="../../assets/CSS/BrowseJobs/jobDetails.css"
        />
        <link
            rel="stylesheet"
            href="../../assets/CSS/dashboard/dashboardApplicant.css"
        />
    </head>
    <body>
        <header class="header" id="header"></header>
        <main id="container"></main>
        <script
            src="../../assets/JS/BrowseJobs/renderSingleJob.js"
            type="module"
        ></script>
        <script
            src="../../assets/JS/Header/generateHeader.js"
            type="module"
        ></script>
    </body>
</html>
