* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}
body {
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 20px;
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #e0e0e0;
    cursor: pointer;
    padding: 20px 10px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}
.card:hover {
    background: #f0f0f0;
}

.form input {
    margin: 10px 5px;
}
.form tr p {
    margin-left: 10px;
}
